<ul class="network-icon" aria-hidden="true">
  {{ range .Params.social }}
    {{ $pack := or .icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
    {{ end }}
    {{ $link := .link }}
    {{ $scheme := (urls.Parse $link).Scheme }}
    {{ $target := "" }}
    {{ if not $scheme }}
      {{ $link = .link | relLangURL }}
    {{ else if in (slice "http" "https") $scheme }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <li>
      <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}">
        {{ if eq $pack "custom" }}
          {{ $svg := resources.Get (printf "media/icons/brands/%s.svg" .icon) }}
          {{ if $svg }}
            <span style="display:inline-block;width:3rem;height:3rem;vertical-align:middle;">{{ $svg.Content | safeHTML }}</span>
          {{ end }}
        {{ else }}
          <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
        {{ end }}
      </a>
    </li>
  {{end}}
</ul>
